* {
    padding: 0;
    margin: 0;
}
body {
    scroll-behavior: smooth;
}
a{ 
    color: inherit;
    text-decoration: inherit;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: pink;
    color: white;
    
}
.icon {
    background-color: black;
    font-size: 24px;
    display: flex;
    align-items: center;
}


.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
    text-align: center;
}


.herobtn {
    width: 50%;
    margin: 10px auto;
	background-color:pink;
	border-radius:28px;
	border:1px solid pink;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px;
	text-decoration:none;
	text-shadow:0px 1px 0px pink;
    
}
.herobtn:hover {
	background-color:pink;
}
.herobtn:active {
	position:relative;
	top:1px;
} 
.about {
    min-height: 100vh;
    padding: 100px 100px;
}
.about h1 {
    text-align: center;
    margin-bottom: 50px;
}

.about .about-content {
    display: flex;
    flex-direction: column;
    
}

.about img{
    width: 70px;
    margin-right: 600px;
    margin: auto;
   
}
.about h2 {
    text-align: justify;
    text-align: center;
    font-size: 100;
    font-weight: normal;
}

.projectbtn {
    width: 50%;
    margin: 10px auto;
	background-color:pink;
	border-radius:28px;
	border:1px solid pink;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:14px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px pink;
}
.projectbtn:hover {
	background-color:pink;
}
.projectbtn:active {
	position:relative;
	top:1px;
}
.project {
    min-height: 100vh;
    padding: 50px 50px;
}
.project h1 {
    text-align: center;
    margin-bottom: 10px;
}

.project .project-content {
    display: flex;
    flex-direction: column;
    
}



.contact {
    background-color: pink;
    min-height: 50vh;
    padding: 50px 100px;
}
.contact h2 {
    text-align: center;
    margin-bottom: 50px;
}
@media only screen and (max-width: 768px) {
    nav div {
        display: none;
    }

}




